@using Newtonsoft.Json
@model List<TechTaskParsingFiles.Models.Tree>

@{
    ViewData["Title"] = "JSON Tree";
}

<ul class="json-tree">
    @foreach (var node in Model)
    {
        <li class="json-tree-item">
            @if (!string.IsNullOrEmpty(node.Value))
            {
                <strong class="json-key">@node.Key:</strong> <span class="json-value">@node.Value</span>
            }
            else
            {
                <strong class="json-key"><a class="json-link" asp-controller="Home" asp-action="JsonShow" asp-route-id="@node.Key" asp-route-children="@JsonConvert.SerializeObject(node.Children)">@node.Key:</a></strong>
                @if (node.Children != null && node.Children.Any())
                {
                    <ul class="json-tree-sub">
                        @await Html.PartialAsync("JsonTree", node.Children)
                    </ul>
                }
            }
        </li>
    }
</ul>