@model TechTaskParsingFiles.Models.Tree

@{
    ViewData["Title"] = "JSON Show";
}

<div class="json-show-container">
    <h2>Details for @Model.Key</h2>

    <ul>
        <li class="json-show-item">
            <strong class="json-show-key">Key:</strong> @Model.Key
        </li>

        @if (@Model.Value != null)
        {
            <li class="json-show-item">
                <strong class="json-show-key">Value:</strong> <span class="json-show-value">@Model.Value</span>
            </li>
        }
    </ul>

    @if (Model.Children != null && Model.Children.Any())
    {
        <h3>Children:</h3>
        <ul class="json-show-children">
            @foreach (var child in Model.Children)
            {
                <li class="json-show-item">
                    <strong class="json-show-key">@child.Key </strong> <span class="json-show-value">@child.Value</span>
                </li>
            }
        </ul>
    }
</div>
