@using Newtonsoft.Json
@model List<TechTaskParsingFiles.Models.Tree>

@{
    ViewData["Title"] = "JSONMyUrl Tree";
}

<div class="json-myurl-container">
    <ul>
        @foreach (var node in Model)
        {
            <li class="json-myurl-item">
                @if (!string.IsNullOrEmpty(node.Value))
                {
                    <strong class="json-myurl-key">@node.Key:</strong> <span class="json-myurl-value">@node.Value</span>
                }
                else
                {
                    <strong class="json-myurl-key"><a asp-controller="Home" asp-action="JsonShow" asp-route-id="@node.Key" asp-route-children="@JsonConvert.SerializeObject(node.Children)">@node.Key:</a></strong>
                    @if (node.Children != null && node.Children.Any())
                    {
                        <ul class="json-myurl-children">
                            @await Html.PartialAsync("JsonTree", node.Children)
                        </ul>
                    }
                }
            </li>
        }
    </ul>
</div>
